body {
    padding-top: 72px; 
}

.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
    height: 40px; 
}
.search-box {
    width: 300px;
}

.card img {
    max-height: 80px;
    object-fit: contain;
}

.card-title {
    font-size: 14px;
}

.card-body {
    padding: 10px;
}

.carousel-item img {
    max-height: 300px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .navbar-user {
        margin-top: 10px;
        text-align: center; 
    }

    .nav-item {
        margin-left: 20px;
    }
}

.app-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.app-item {
    width: 120px;
    text-align: left;
    padding: 8px;
    border-radius: 10px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.app-item:hover {
    background: rgba(0, 128, 255, 0.1); /* Màu nền nổi bật */
    transform: scale(1.05); /* Hiệu ứng phóng to nhẹ */
}

.app-item a {
    display: block;
    text-decoration: none;
    color: inherit;
}

.app-item img {
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 20px;
    display: block;
}

.app-name {
    font-size: 14px;
    font-weight: bold;
    color: #555; /* Màu nhạt hơn */
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-rating {
    font-size: 14px;
    color: #FFD700; /* Màu vàng */
    margin-top: -3px; /* Dịch sát lên trên */
    display: flex;
    align-items: center;
}

.app-rating i {
    margin-left: 2px;
    font-size: 14px;
}

